:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 100 100 150;
  --oui-color-primary-light: 47 106 182;
  --oui-color-primary-darken: 65 111 185;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 79 79 181;
  --oui-color-link-light: 200 200 255;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 255 0 0;
  --oui-color-danger-light: 255 133 133;
  --oui-color-danger-darken: 255 66 66;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 255 0;
  --oui-color-success-light: 133 255 133;
  --oui-color-success-darken: 66 255 66;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 255 0;
  --oui-color-warning-light: 255 255 133;
  --oui-color-warning-darken: 255 255 66;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 50 50 50;
  --oui-color-fill-active: 60 60 60;

  --oui-color-base-1: 100 100 100;
  --oui-color-base-2: 90 90 90;
  --oui-color-base-3: 80 80 80;
  --oui-color-base-4: 70 70 70;
  --oui-color-base-5: 60 60 60;
  --oui-color-base-6: 50 50 50;
  --oui-color-base-7: 40 40 40;
  --oui-color-base-8: 30 30 30;
  --oui-color-base-9: 20 20 20;
  --oui-color-base-10: 10 10 10;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 255 0 0;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 255 0;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 33 33 255;
  --oui-gradient-primary-end: 133 133 255;

  --oui-gradient-secondary-start: 90 90 90;
  --oui-gradient-secondary-end: 133 133 255;

  --oui-gradient-success-start: 0 133 0;
  --oui-gradient-success-end: 0 255 0;

  --oui-gradient-danger-start: 255 66 66;
  --oui-gradient-danger-end: 255 0 0;

  --oui-gradient-brand-start: 47 106 182;
  --oui-gradient-brand-end: 100 100 150;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 255 66;
  --oui-gradient-warning-end: 255 255 0;

  --oui-gradient-neutral-start: 30 30 30;
  --oui-gradient-neutral-end: 50 50 50;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}